@font-face {
    font-family: "Asap SemiBold";
    src: local("Asap SemiBold"), url("../fonts/Asap-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Asap";
    src: local("Asap"), url("../fonts/Asap-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Asap Bold";
    src: local("Asap Bold"), url("../fonts/Asap-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Asap Medium";
    src: local("Asap Medium"), url("../fonts/Asap-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Asap Light";
    src: local("Asap Light"), url("../fonts/Asap-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Courier";
    src: local("Courier"), url("../fonts/CourierPrime-Regular.ttf") format("truetype");
}
